* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif, system-ui, -apple-system;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 100px;
}

#scratchpad {
    display: flex;
    flex-direction: column;
}

#set-size {
    margin: 70px 500px;
}

.row-container {
    display:flex;
    padding: 0;
    margin: 0;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
}

.cell { 
    width: 100px;
    /* flex: 1 0 auto; */
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}