* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif, system-ui, -apple-system;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 100px;
}

#scratchpad {
    margin-top: -40px;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex: 0 0 auto;
    width: 600px;
    aspect-ratio: 1 / 1;
}

#create-grid {
    margin: 70px 400px;
    flex: 0 0 auto;
    width: 100px;
    align-self: center;
    padding: 10px;
    font-weight: 600;
    background-color: green;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: background-color 0.2s;
}

#create-grid:hover {
    background-color: limegreen;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.row-container {
    display:flex;
    padding: 0;
    margin: 0;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
}

.cell { 
    /* width: 40px; */
    flex: 1 0 auto;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

#mode-btns {
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 52px;
}

#mode-btns button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}
